<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Paasplus Demo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

  
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<!-- GWT Precompiling not working when building on OpenShift, therefore onthefly compiling is needed-->
		<param-value>false</param-value>
	</context-param>
	<context-param>
      <param-name>shiroEnvironmentClass</param-name>
      <param-value>com.cloudyle.paasplus.ui.shiro.OSGiWebEnvironment</param-value>
    </context-param>
  
	<listener>
	    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	  </listener>
	
	  <filter>
	    <filter-name>ShiroFilter</filter-name>
	    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	  </filter>
	
	  <filter-mapping>
	    <filter-name>ShiroFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	  </filter-mapping>
  
	<servlet>
		<servlet-name>PetClinicServlet</servlet-name>
		<servlet-class>com.cloudyle.paasplus.petclinic.ui.PetClinicServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>com.cloudyle.paasplus.petclinic.ui.PetClinicUI</param-value>
		</init-param>
		  <init-param>
			<param-name>widgetset</param-name>
			<param-value>com.cloudyle.paasplus.ui.framework.DashboardWidgetSet</param-value>
		</init-param> 
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>com.cloudyle.paasplus.petclinic.ui.PetClinicUIProvider</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PetClinicServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
